@model Business.Models.OlayModel

<div>
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="IlkNeden"></label>
        </dt>
        <dd class="col-sm-10">
            <display asp-for="IlkNeden"></display>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="OlusSekli"></label>
        </dt>
        <dd class="col-sm-10">
            <display asp-for="OlusSekli"></display>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Yer"></label>
        </dt>
        <dd class="col-sm-10">
            <display asp-for="Yer"></display>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Tarih"></label>
        </dt>
        <dd class="col-sm-10">
            <display asp-for="TarihText"></display>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Zaman"></label>
        </dt>
        <dd class="col-sm-10">
            <display asp-for="Zaman"></display>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="IhbarOzetleri"></label>
        </dt>
        <dd class="col-sm-10">
            @if (Model.IhbarOzetleri != null && Model.IhbarOzetleri.Count > 0)
            {
                @foreach (var ihbarOzeti in Model.IhbarOzetleri)
                {
                    @ihbarOzeti
                    <br />
                }
            }
        </dd>
    </dl>
</div>
